[submodule "timelapse_geolocate"]
	path = timelapse_geolocate
	url = git@github.com:Gamma-Software/timelapse_geolocate.git
[submodule "usbautobackup"]
	path = devices_driver/usbautobackup
	url = git@github.com:Gamma-Software/usbautobackup.git
[submodule "gps_driver"]
	path = devices_driver/gps
	url = git@github.com:Gamma-Software/gps_driver.git
[submodule "imu_driver"]
	path = devices_driver/imu
	url = git@github.com:Gamma-Software/imu_driver.git
[submodule "can_decoder"]
	path = devices_driver/can_decoder
	url = git@github.com:Gamma-Software/can_decoder.git
[submodule "trip-overview"]
	path = servers/trip-overview
	url = git@github.com:Gamma-Software/trip-overview
[submodule "travelblog"]
	path = servers/travelblog
	url = git@github.com:Gamma-Software/travelblog