[submodule "timelapse_geolocate"]
	path = timelapse_geolocate
	url = git@github.com:Gamma-Software/timelapse_geolocate.git
[submodule "usbautobackup"]
	path = usbautobackup
	url = git@github.com:Gamma-Software/usbautobackup.git
